# .gitignore
__pycache__/
*.py[cod]
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.png
*.jpg
*.gif
*.pdf

secrets.json

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.whl

# PyCharm files
.idea/

# Python virtual environment
venv/
